/edureka/angular/.idea/angular.iml
/edureka/angular/.idea/codeStyles/codeStyleConfig.xml
/edureka/angular/.idea/libraries/Lesson1.xml
/edureka/angular/.idea/misc.xml
/edureka/angular/.idea/modules.xml
/edureka/angular/.idea/libraries/output.xml
/edureka/angular/.idea/codeStyles/Project.xml
/edureka/angular/.idea/inspectionProfiles/Project_Default.xml
/edureka/angular/.idea/runConfigurations.xml
/edureka/angular/.idea/vcs.xml
