<div>
    <p>Employee Table</p>

<table class="emp_table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Employee Id</th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Dept</th>
    <th scope="col">City</th>
    <th scope="col">Email</th>
  </tr>
  </thead>
  <tbody>

    <tr>
        <th scope="row">1</th>
        <td>
         "1234"
        </td>
        <td>Anshuman</td>
        <td>Biswal</td>
        <td>ves</td>
        <td>Bangalore</td>
        <td>abc@xyz.com</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>
         "5678"
        </td>
        <td>Anshuman</td>
        <td>Biswal</td>
        <td>ves</td>
        <td>Bangalore</td>
        <td>abc@xyz.com</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>
         "91011"
        </td>
        <td>Swati</td>
        <td>Biswal</td>
        <td>ves</td>
        <td>Bangalore</td>
        <td>def@xyz.com</td>
    </tr>
    <tr>
        <th scope="row">4</th>
        <td>
         "121314"
        </td>
        <td>Laish</td>
        <td>Biswal</td>
        <td>ves</td>
        <td>Bangalore</td>
        <td>ghi@xyz.com</td>
    </tr>
  </tbody>
</table>

  
 </div>
